<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sentiment Analyzer</title>
    <link href="/styles/resets.css" />
    <link href="/styles/base.css" />
    <link href="/styles/header.css" />
    <link href="/styles/style.css" />
    <!-- <link href="/styles/footer.css" />-->
  </head>

  <body>
    <header>
      <div class="logo">EvaluateNews</div>
    </header>
    <main>
      <div class="container">
        <p class="container-title">
          Enter a URL of an article / a blog to discover its sentiment.
        </p>

        <iframe
          src="https://giphy.com/embed/11ASZtb7vdJagM"
          width="300"
          height="300"
          frameborder="0"
          class="giphy-embed"
          allowfullscreen
        ></iframe>
        <section>
          <form id="form">
            <label for="article-url">Your URL</label>
            <input
              id="article-url"
              type="text"
              name="input"
              value=""
              placeholder="Enter Article URL"
            />
            <input
              type="submit"
              value="submit"
              name=""
              onclick="return Client.handleSubmit(event)"
              onsubmit="return handleSubmit(event)"
            />
          </form>
        </section>

        <section class="result-box">
          <strong>Form Results:</strong>
          <div id="results"></div>
          <div class="result" id="article-text"></div>
          <div class="result" id="article-agreement"></div>
          <div class="result" id="article-subjectivity"></div>
          <div class="result" id="article-score_tag"></div>
          <div class="result" id="article-confidence"></div>
        </section>
      </div>
    </main>
    <footer>
      <div><p>Created By Marim Khaled @copy2022</p></div>
    </footer>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
